body {
    background: #f4f8fa;
    font-family: Calibri, Arial, 'Times New Roman';
}

header{
    background: black;
}

.superior{
    display: flex;
    flex-direction: row;
    padding: 10px 15px 10px 15px;
}

.perfil img{
    width: 190px;
    height: 190px;
    border-radius: 50%;
}

.textos{
    display: flex;
    flex-direction: column;
    padding: 2px;
    margin: 2px;
    justify-content: center;
}

.logo_sup{
    display: flex;
    flex-direction: row;
}
.logos{
    height: 30px;
    width: 30px;
    padding: 1px;
    margin: 4px;
    border-radius: 5%;
    background: white;
}

.ln img:hover{
    background:#0077b5;
}

.whats img:hover{
    background:#34af23;
}

.corpo{
    display: grid;
    grid-template-columns: 5fr 2fr;
    margin: 30px 15px 30px 15px;
    text-align: justify;
}

.direita{
    flex: 1;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.esquerda{
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

.imagem{
    text-align: center;
}

.conteudo{
    background: #e5e5e5;
    padding: 20px 30px 10px 30px;
    margin: 20px 0px 20px 0px;
}

.conteudo a{
    text-decoration: none;
    color: black;
}

.conteudo a:hover{
    font-weight: bold;
}

.img_quadros{
    margin: 3px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.img_quadros img{
    width: 80%;
}

.infoclass{
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
    padding: 5px;
}

.quote{
    font-style: italic;
    color: gray;
}

.score100{
    width: 100%;
    height: 20px;
    background: blue;
}

.score50{
    width: 50%;
    height: 20px;
    background: blue;
}

.score25{
    width: 25%;
    height: 20px;
    background: blue;
}

.person h1{
    color: #e5e5e5;
    font-weight: bold;
    padding: 2px;
    margin: 2px;
}

.desc h2{
    color: #f4f8fa;
    font-style: italic;
    padding: 2px;
    margin: 2px;
}

h3{
    margin-bottom: 5px;
}
/* Responsivo para mudar de row para column*/
@media (max-width: 750px) {
    .corpo {
        display: flex;
        flex-direction: column;
        margin: 10px 5px 10px 5px;
    }
    
    .corpo .img_quadros {
        display: flex;
        flex-direction: column;
        margin: 10px 5px 10px 5px;
    }

    .conteudo{
        padding: 10px 3px 10px 3px;
        margin: 10px 0px 10px 0px;
    }

    .imagem{
        text-align: center;
    }

    .superior{
        display: flex;
        flex-direction: column;
        padding: 10px 15px 10px 15px;
        text-align: center;
    }

    .logo_sup{
        text-align: center;
        justify-content: center;
    }
  }