body {
    background: #f4f8fa;
    font-family: Calibri, Arial, 'Times New Roman';
}

.corpo{
    display: grid;
    grid-template-columns: 5fr 2fr;
    margin: 30px 15px 30px 15px;
    text-align: justify;
}

.direita{
    flex: 1;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.esquerda{
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

.imagem{
    text-align: center;
}

.conteudo{
    background: #e5e5e5;
    padding: 20px 30px 10px 30px;
    margin: 20px 0px 20px 0px;
}

.conteudo a{
    text-decoration: none;
    color: black;
}

.conteudo a:hover{
    font-weight: bold;
}

.img_quadros{
    margin: 3px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.img_quadros img{
    width: 80%;
}

/* Responsivo para mudar de row para column*/
@media (max-width: 600px) {
    .corpo .img_quadros {
        display: flex;
        flex-direction: column;
        margin: 10px 5px 10px 5px;
    }

    .conteudo{
        padding: 10px 3px 10px 3px;
        margin: 10px 0px 10px 0px;
    }

    .imagem{
        text-align: center;
    }
  }