body{
    font-family: Cabibri, Arial;
}

.corpo{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    text-align: center;
}

.esquerda{
    background: white;
}

.centro{
    background: black;
    color: rgb(218, 200, 200);
    width: 520px;
}

.titulo{
    display: flex;
    flex-direction: row;
    padding: 0px 15px;
    justify-content: space-between;
}

.infos{
    padding: 5px 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.scoreClass{
    display: flex;
    flex-direction: column;
    justify-content: center;

}