body {
    font-family: calibri, arial, Times New Roman;
    text-align:justify;
}

.margin{
    margin-left:200px;
    margin-right:200px;
}

header {
    background:  black;
    padding-bottom: 1px;
}
h1{
    color: White; 
}

h2{
    font-style: italic
}

h3{
    font-style: italic
}
p{
    font-size: 18px;
}

.img_padrao{
    width:250px
}

.img_padrao1{
    width:200px
}

.icone{
    width:20px
}

#formacao{
    background-color: #FAFAFA;
}

#motivacao{
    background-color: #FAFAFA;
}

#hobbies{
    background-color: #FAFAFA;
    margin-bottom: 5px;
}

#familia{
    padding-bottom:5px;
}

table {
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    width: 42%;
 }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }